
/*Selector genral (*)*/
*{
    margin: 2em auto;
    border: 1px solid rgb(180, 157, 157);
}
body{
    background-color:beige;
    
}

form{
    background-color: rgb(188, 188, 204);
    width: 40%;
    display: block;
   
}
input{
    width:100%;
}
textarea{
    display: block;
    width: 100%;
    margin: 10px;
    margin: 0%;
    border: 2px solid black;
}
button{
    width: 80px;
    height: 50px;
    font-size: 10px;
    border: 2px solid black;
}