body{
    background-color:beige;
}

.menu{
 
    list-style: none;
   display: inline;
}
.menu{
    top: 10px;
}
.menu>a{
    color:black;
    text-decoration: none;
    padding: 1em;
    border: black solid 1px;
   
}
.lado2{
    width: 90%;
    padding-left: 1%;
    float: left;
}
.columnizquierda{
    width: 45%;
    float: left;  
    padding-left: 200px;
}
footer{
    clear: both;
}